<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZiPx | About Us</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-900">
    <header class="text-violet-100 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          href="/"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <span class="ml-3 text-3xl text-violet-500 font-bold">ZiPx</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/compress" class="mr-5 hover:text-gray-400">Compress</a>
          <a href="/dcompress" class="mr-5 hover:text-gray-400">De-Compress</a>
          <a href="/about" class="mr-5 hover:text-gray-400">About Us</a>
          <a href="/manual" class="mr-5 hover:text-gray-400">User Manual</a>
        </nav>
      </div>
    </header>
    <!-- <div class="text-3xl my-[280px] text-center font-semibold text-violet-300">
        <p>About Us Page Comming Soom ...</p>
    </div> -->
    <main class="flex justify-center align-center">
      <div class="grid md:grid-cols-3 gap-5 md:px-20 px-4 py-24 md:py-40">
        <div>
          <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex justify-end px-4 pt-4">
              <!-- Dropdown menu -->
            </div>
            <div class="flex flex-col items-center pb-10 px-4">
              <img
                class="w-24 h-24 mb-3 rounded-full shadow-xl shadow-slate-950/80 object-cover"
                src="https://avatars.githubusercontent.com/u/112092614?v=4"
                alt="debangan"
              />
              <h5
                class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
              >
                Debangan Bhattacharyya
              </h5>
              <span class="text-sm text-gray-400"
                >Team Lead (Full Stack Developer)</span
              >
              <div class="flex mt-4 space-x-3 md:mt-6">
                <a
                  href="https://github.com/debangan03"
                  target="_blank"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-violet-700 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300"
                  >View Portfolio</a
                >
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex justify-end px-4 pt-4">
              <!-- Dropdown menu -->
            </div>
            <div class="flex flex-col items-center pb-10 px-4">
              <img
                class="w-24 h-24 mb-3 rounded-full shadow-2xl shadow-slate-950 object-cover"
                src="https://i.ibb.co/MhFPRBd/aditi.jpg"
                alt="portfolio image"
              />
              <h5
                class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
              >
                Aditi Toppo
              </h5>
              <span class="text-sm text-gray-400"
                >Team Member 1 (Front End Developer)</span
              >
              <div class="flex mt-4 space-x-3 md:mt-6">
                <a
                  href="https://github.com/AditiToppo14"
                  target="_blank"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-violet-700 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300"
                  >View Portfolio</a
                >
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex justify-end px-4 pt-4">
              <!-- Dropdown menu -->
            </div>
            <div class="flex flex-col items-center pb-10 px-4">
              <img
                class="w-24 h-24 mb-3 rounded-full shadow-xl shadow-slate-950/80 object-cover"
                src="https://i.ibb.co/qBLct5G/Screenshot-2023-11-07-181010.png"
                alt="Bonnie image"
              />
              <h5
                class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
              >
                Mohan Agrawalla
              </h5>
              <span class="text-sm text-gray-400"
                >Team Member 2 (Content Writer And Tester)</span
              >
              <div class="flex mt-4 space-x-3 md:mt-6">
                <a
                  href="https://github.com/Mohan622"
                  target="_blank"
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-violet-700 rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300"
                  >View Portfolio</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer
      class="footer footer-center absolute bottom-0 w-full p-4 bg-gray-500/20 text-violet-400"
    >
      <div class="text-center">
        <p>
          Copyright © 2023 -
          <a class="font-semibold" href="mailto:m.sohanemon@gmail.com"
            >ZiPx<sup>TM</sup></a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
