<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZiPx | Compress</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-900">
    <header class="text-violet-100 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          href="/"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <span class="ml-3 text-3xl text-violet-700 font-bold">ZiPx</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/compress" class="mr-5 hover:text-gray-400">Compress</a>
          <a href="/dcompress" class="mr-5 hover:text-gray-400">De-Compress</a>
          <a href="/about" class="mr-5 hover:text-gray-400">About Us</a>
          <a href="/manual" class="mr-5 hover:text-gray-400">User Manual</a>
        </nav>
      </div>
    </header>
    <div class="flex justify-center items-center mt-44">
      <!-- form to submit input -->
      <form
        class="bg-black/30 p-10 shadow-lg rounded-xl shadow-violet-900"
        action="/cupload"
        method="POST"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="input"
          class="text-gray-100 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-violet-700 file:text-white hover:file:bg-violet-600"
        />
        <button
          class="mt-2 md:mt-0 text-center md:w-fit w-[80vw] text-gray-100 bg-violet-700 hover:bg-violet-600 px-4 py-[7px] rounded-lg"
          type="submit"
        >
          Compress & Download
        </button>
      </form>
    </div>
    <footer
      class="footer footer-center absolute bottom-0 w-full p-4 bg-gray-500/20 text-violet-400"
    >
      <div class="text-center">
        <p>
          Copyright © 2023 -
          <a class="font-semibold" href="mailto:m.sohanemon@gmail.com"
            >ZiPx<sup>TM</sup></a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
