<!DOCTYPE html>
<html lang="en">
<!-- //header -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- //body -->
<body class="bg-slate-900">
    <div class="flex justify-center my-40">
        <form action="/dupload" method="POST" enctype="multipart/form-data">
        <input name="input1" type="file">
        <button type="submit">Upload</button>
    </form>
    </div>
    
</body>
</html>