<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Zipper</title>
  </head>
  <body class="bg-slate-900">
    <div class="header sticky top-0 w-screen mb-4 h-10 p-4">
      <p class="text-center text-3xl font-bold text-violet-500">Zipper</p>
    </div>
    <div class="flex justify-center items-center">
      <img
        class="w-[800px] pt-20 h-[400px]"
        src="https://blog.internxt.com/content/images/2022/11/Blog---What-is-a-Zip---2.png"
        alt="img "
      />
    </div>
    <div class="flex justify-center items-center mt-4">
      <div class="text-gray-100">
        <p class="text-xl text-violet-600">Choose to compress or decompress</p>
        <div class="flex justify-center space-x-10 mt-2"> 
          <a href="/compress" class="rounded bg-green-500 px-4 py-2">Compress</a>
          <a href="/dcompress" class="rounded bg-green-500 px-4 py-2">De-Compress</a>
        </div>
      </div>
    </div>

    <!-- <script>
      // Your JavaScript code here
      document.addEventListener("DOMContentLoaded", function () {
        // DOM manipulation code
        const element = document.getElementById("myElement");
        element.textContent = "Updated Content";
      });
    </script> -->
  </body>
</html>
