<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZiPx | User Manual</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-900">
    <header class="text-violet-100 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          href="/"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <span class="ml-3 text-3xl text-violet-500 font-bold">ZiPx</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/compress" class="mr-5 hover:text-gray-400">Compress</a>
          <a href="/dcompress" class="mr-5 hover:text-gray-400">De-Compress</a>
          <a href="/about" class="mr-5 hover:text-gray-400">About Us</a>
          <a href="/manual" class="mr-5 hover:text-gray-400">User Manual</a>
        </nav>
      </div>
    </header>
    <!-- <div class="text-3xl my-[280px] text-center font-semibold text-violet-300">
        <p>User Manual Comming Soom ...</p>
    </div> -->
    <div>
      <div class="mt-24 text-white">
        <h1 class="text-3xl capitalize text-center">
          Guideline For compression
        </h1>
        <hr class="w-[400px] mx-auto border-2 mt-1 border-violet-700" />
      </div>
      <div class="flex justify-center items-center">
        <ul
          class="text-violet-200 text-xl text-justify capitilize list-decimal mt-4"
        >
          <li>
            select compress option from the navigation buttons or from buttons
          </li>
          <li>select file to be compressed</li>
          <li>press compress & download button to compress</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="mt-24 text-white">
        <h1 class="text-3xl capitalize text-center">
          Guideline For De-compression
        </h1>
        <hr class="w-[400px] mx-auto border-2 mt-1 border-violet-700" />
      </div>
      <div class="flex justify-center items-center">
        <ul
          class="text-violet-200 text-xl text-justify capitilize list-decimal mt-4"
        >
          <li>
            select de-compress option from the navigation buttons or from buttons
          </li>
          <li>select file to be de-compressed</li>
          <li>press de-compress & download button to compress</li>
        </ul>
      </div>
    </div>
    <footer class="footer footer-center  absolute bottom-0 w-full p-4 bg-gray-500/20 text-violet-400">
      <div class="text-center">
        <p>
          Copyright © 2023 -
          <a class="font-semibold" href="mailto:m.sohanemon@gmail.com"
            >ZiPx<sup>TM</sup></a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
